In [1]:
#!pip install pymongo

In [2]:
import pymongo

In [3]:
myclient=pymongo.MongoClient("mongodb://localhost:27017/")

In [30]:
#list the database
myclient.list_database_names()

['Tutort', 'admin', 'config', 'local']

In [31]:
mydb=myclient['Tutort']

In [32]:
mydb.list_collection_names()

['students']

In [33]:
collection=mydb['Teachers']

In [34]:
mydb.list_collection_names()

['students']

In [35]:
teachers_list = [
    {
        "name": "Alice Johnson",
        "subject": "Mathematics",
        "years_of_experience": 10,
        "contact": {
            "email": "alice.johnson@example.com",
            "phone": "555-1234"
        },
        "courses": ["Algebra", "Calculus", "Geometry"]
    },
    {
        "name": "Bob Smith",
        "subject": "Science",
        "years_of_experience": 8,
        "contact": {
            "email": "bob.smith@example.com",
            "phone": "555-5678"
        },
        "courses": ["Physics", "Chemistry", "Biology"]
    },
    {
        "name": "Carol Davis",
        "subject": "History",
        "years_of_experience": 12,
        "contact": {
            "email": "carol.davis@example.com",
            "phone": "555-8765"
        },
        "courses": ["World History", "American History", "European History"]
    },
    {
        "name": "David Wilson",
        "subject": "English",
        "years_of_experience": 5,
        "contact": {
            "email": "david.wilson@example.com",
            "phone": "555-4321"
        },
        "courses": ["Literature", "Composition", "Creative Writing"]
    },
    {
        "name": "Eve Brown",
        "subject": "Computer Science",
        "years_of_experience": 7,
        "contact": {
            "email": "eve.brown@example.com",
            "phone": "555-6789"
        },
        "courses": ["Programming", "Data Structures", "Algorithms"]
    }
]

In [36]:
data=collection.insert_many(teachers_list)

In [37]:
mydb.list_collection_names()

['students', 'Teachers']

In [38]:
print(data)

InsertManyResult([ObjectId('676faf187609f810265ba64a'), ObjectId('676faf187609f810265ba64b'), ObjectId('676faf187609f810265ba64c'), ObjectId('676faf187609f810265ba64d'), ObjectId('676faf187609f810265ba64e')], acknowledged=True)

In [39]:
data=collection.find()

In [40]:
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('676faf187609f810265ba64b'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}
{'_id': ObjectId('676faf187609f810265ba64c'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12, 'contact': {'email': 'carol.davis@example.com', 'phone': '555-8765'}, 'courses': ['World History', 'American History', 'European History']}
{'_id': ObjectId('676faf187609f810265ba64d'), 'name': 'David Wilson', 'subject': 'English', 'years_of_experience': 5, 'contact': {'email': 'david.wilson@example.com', 'phone': '555-4321'}, 'courses': ['Literature', 'Composition', 'Creative Writing']}
{'_id': ObjectId('676faf187609f810265ba64e'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}

In [41]:
data=collection.find({'subject':'Mathematics'})
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}

In [42]:
data=collection.insert_one({
        "name": "Alice Tiwari",
        "subject": "Mathematics",
        "years_of_experience": 11,
        "contact": {
            "email": "alice.tiwari@example.com",
            "phone": "555-1235"
        },
        "courses": ["Stats", "Linear", "Quantum"]
    })

In [43]:
data=collection.find({'subject':'Mathematics'})
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('676fafa67609f810265ba64f'), 'name': 'Alice Tiwari', 'subject': 'Mathematics', 'years_of_experience': 11, 'contact': {'email': 'alice.tiwari@example.com', 'phone': '555-1235'}, 'courses': ['Stats', 'Linear', 'Quantum']}

In [45]:
data=collection.find({},{'name':1,'years_of_experience':1})
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'years_of_experience': 10}
{'_id': ObjectId('676faf187609f810265ba64b'), 'name': 'Bob Smith', 'years_of_experience': 8}
{'_id': ObjectId('676faf187609f810265ba64c'), 'name': 'Carol Davis', 'years_of_experience': 12}
{'_id': ObjectId('676faf187609f810265ba64d'), 'name': 'David Wilson', 'years_of_experience': 5}
{'_id': ObjectId('676faf187609f810265ba64e'), 'name': 'Eve Brown', 'years_of_experience': 7}
{'_id': ObjectId('676fafa67609f810265ba64f'), 'name': 'Alice Tiwari', 'years_of_experience': 11}

In [46]:
data=collection.find({},{'name':1,'years_of_experience':1}).limit(3)
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'years_of_experience': 10}
{'_id': ObjectId('676faf187609f810265ba64b'), 'name': 'Bob Smith', 'years_of_experience': 8}
{'_id': ObjectId('676faf187609f810265ba64c'), 'name': 'Carol Davis', 'years_of_experience': 12}

In [52]:
my_query={
    'years_of_experience':{'$gt':8}
}
data=collection.find(my_query)
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('676faf187609f810265ba64c'), 'name': 'Carol Davis', 'subject': 'History', 'years_of_experience': 12, 'contact': {'email': 'carol.davis@example.com', 'phone': '555-8765'}, 'courses': ['World History', 'American History', 'European History']}
{'_id': ObjectId('676fafa67609f810265ba64f'), 'name': 'Alice Tiwari', 'subject': 'Mathematics', 'years_of_experience': 11, 'contact': {'email': 'alice.tiwari@example.com', 'phone': '555-1235'}, 'courses': ['Stats', 'Linear', 'Quantum']}

In [54]:
data=collection.find({'years_of_experience':{'$lt':8}})
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64d'), 'name': 'David Wilson', 'subject': 'English', 'years_of_experience': 5, 'contact': {'email': 'david.wilson@example.com', 'phone': '555-4321'}, 'courses': ['Literature', 'Composition', 'Creative Writing']}
{'_id': ObjectId('676faf187609f810265ba64e'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}

In [56]:
my_query={
    'name':{'$regex':"^B"}
}
data=collection.find(my_query)
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64b'), 'name': 'Bob Smith', 'subject': 'Science', 'years_of_experience': 8, 'contact': {'email': 'bob.smith@example.com', 'phone': '555-5678'}, 'courses': ['Physics', 'Chemistry', 'Biology']}

In [57]:
my_query={
    'name':{'$regex':"n$"}
}
data=collection.find(my_query)
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}
{'_id': ObjectId('676faf187609f810265ba64d'), 'name': 'David Wilson', 'subject': 'English', 'years_of_experience': 5, 'contact': {'email': 'david.wilson@example.com', 'phone': '555-4321'}, 'courses': ['Literature', 'Composition', 'Creative Writing']}
{'_id': ObjectId('676faf187609f810265ba64e'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}

In [59]:
my_query={
    'name':{'$regex':"n$"}
}
data=collection.find(my_query).sort('name',-1)
for i in data:
    print(i)

{'_id': ObjectId('676faf187609f810265ba64e'), 'name': 'Eve Brown', 'subject': 'Computer Science', 'years_of_experience': 7, 'contact': {'email': 'eve.brown@example.com', 'phone': '555-6789'}, 'courses': ['Programming', 'Data Structures', 'Algorithms']}
{'_id': ObjectId('676faf187609f810265ba64d'), 'name': 'David Wilson', 'subject': 'English', 'years_of_experience': 5, 'contact': {'email': 'david.wilson@example.com', 'phone': '555-4321'}, 'courses': ['Literature', 'Composition', 'Creative Writing']}
{'_id': ObjectId('676faf187609f810265ba64a'), 'name': 'Alice Johnson', 'subject': 'Mathematics', 'years_of_experience': 10, 'contact': {'email': 'alice.johnson@example.com', 'phone': '555-1234'}, 'courses': ['Algebra', 'Calculus', 'Geometry']}

In [63]:
filter={"name":'Alice Tiwari'}
update={"$set":{'subject':'Economics'}}
        
data=collection.update_one(filter,update)

In [64]:
filter={'name':'Alice Tiwari'}
data=collection.delete_one(filter)

In [66]:
filter={}
update={"$set":{'subject':'abc'}}
data=collection.update_many(filter,update)

In [67]:
filter={'subject':'abc'}
data=collection.delete_many(filter)